[submodule "knot"]
	path = knot
	url = git@github.com:Andrew-Fryer/knot.git
[submodule "LibAFL_personal"]
	path = LibAFL_personal
	url = git@github.com:Andrew-Fryer/LibAFL_personal.git
[submodule "combinator_fuzzer"]
	path = combinator_fuzzer
	url = git@github.com:Andrew-Fryer/combinator_fuzzer.git
